body{
    font-family: Ubuntu;
    margin: 0px;
}

.container {
    padding-left:32px;
    padding-right:32px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
}

.form{
    width: 70%;
    height: 70%;
    background-color: #F0F0F5;
    padding-left:32px;
    padding-right:32px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
}

.debug{
    border: 1px solid red;
    border-color: red;    
    padding: 1px;
}

.main{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
